## ML Data Preprocessing

`Data Preprocessing includes the steps we need to follow to transform or encode data so that it may be easily parsed by the machine.` 

`The main agenda for a model to be accurate and precise in predictions is that the algorithm should be able to easily interpret the data's features.`

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
from scipy import stats
import datetime 
import plotly.express as px
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Adding scripts path
import sys
sys.path.insert(0,'../scripts/')
from data_preprocessing import data_preProcessing_script
from cleaner import DataCleaner

In [3]:
# Reading data sets
store_data = pd.read_csv('../data/store.csv')
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')

In [4]:
# Merging the training dataset with the store dataset 
train_store=pd.merge(train_data, store_data, on='Store', how='inner')

In [5]:
# Merging the test dataset with the store dataset
test_store=pd.merge(test_data, store_data, on='Store', how='inner')

In [7]:
# showing the data 
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [8]:
# getting the information
preprocess = data_preProcessing_script(train_store)
preprocess.show_data_information()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [9]:
# changeing date object to datetime type
train_store.Date = pd.to_datetime(train_store["Date"])

In [10]:
# object creation
train_store_cleaner = DataCleaner(train_store)

In [11]:
# separate date into day, month, year
train_store_cleaner.separate_date_column(date_column='Date')

In [12]:
preprocess.show_data_information()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 21 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  datetime64[ns]
 3   Year                       1017209 non-null  int64
 4   Month                      1017209 non-null  int64
 5   Day                        1017209 non-null  int64
 6   Sales                      1017209 non-null  int64
 7   Customers                  1017209 non-null  int64
 8   Open                       1017209 non-null  int64
 9   Promo                      1017209 non-null  int64
 10  StateHoliday               1017209 non-null  object
 11  SchoolHoliday              1017209 non-null  int64
 12  StoreType                  1017209 non-null  object
 13  Assortment                 1017209 non-null  object
 14  CompetitionDistance        1014567 non-null  float64
 15  CompetitionOpenSinceMonth  693861 non-null   float64
 16  CompetitionOpenSinceYear   693861 non-null   float64
 17  Promo2                     1017209 non-null  int64
 18  Promo2SinceWeek            509178 non-null   float64
 19  Promo2SinceYear            509178 non-null   float64
 20  PromoInterval              509178 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(11), object(4)
memory usage: 170.7+ MB

### Missing Value Manipulation